@font-face
	font-family: 'CooperBT'
	font-weight: normal
	font-style: normal
	src: url('../fonts/35BACE_0_0.eot')
	src: url('../fonts/35BACE_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/35BACE_0_0.woff2') format('woff2'),url('../fonts/35BACE_0_0.woff') format('woff'),url('../fonts/35BACE_0_0.ttf') format('truetype')

@font-face
	font-family: 'CooperBT'
	font-weight: bold
	font-style: normal
	src: url('../fonts/35BACE_1_0.eot')
	src: url('../fonts/35BACE_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/35BACE_1_0.woff2') format('woff2'),url('../fonts/35BACE_1_0.woff') format('woff'),url('../fonts/35BACE_1_0.ttf') format('truetype')

BodyFace = 'CooperBT', 'Cooper Lt BT', 'Cheltenhm BT', 'Cheltenham', Georgia, serif
HeadlineFace = 'CooperBT', 'Cooper Md BT', 'Cheltenhm BT', 'Cheltenham', Georgia, serif

size-1 = 3rem
size-2 = 2.25rem
size-3 = 1.5rem
size-4 = 1.25rem
size-5 = 1rem
size-6 = .875rem

space-1 = .25rem
space-2 = .5rem
space-3 = 1rem
space-4 = 2rem
space-5 = 4rem
space-6 = 8rem
space-7 = 16rem